---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');



// Resets ================================================================================

h1, h2, h3 {
  font-family: Poppins;
  font-weight: 600;
}

h1 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}



// Colors ================================================================================

$tpp-primary: rgba(31,71,167,1);
$tpp-secondary: rgba(192,192,192,1);


.text-tpp-primary {
  color: $tpp-primary;
}

.text-tpp-secondary {
  color: $tpp-secondary;
}

.bg-tpp-primary {
  background-color: $tpp-primary;
}

.bg-tpp-secondary {
  background-color: $tpp-secondary;
}

.bg-tpp-gradient {
  background-color: #00C9FF;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.bg-tpp-gradient-text {
  color: #FC466B;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



// Images ================================================================================

img.logo {
  margin: 0px;
  height: 32px;
}

img.profile {
  max-width: 25%;
}



// Navbar ================================================================================

.nav-link {
  font-size: 80%;
  color: rgba(255,255,255,0.9) !important;
}

.navbar-dark {
  a:hover {
    opacity: 0.8;
  }
  .active {
    font-weight: bold;
  }
}

.arrow-top{
  display: none;
}



// Splash ================================================================================

.splash {
  .display-2 {
    font-weight: 600;
  }
}


// Badges ================================================================================

a.badge {
  vertical-align: text-bottom;
  color: #FFFFFF !important;
  text-decoration: none;
}

a:hover.badge {
  opacity: 0.8;
}



// Feed ==================================================================================

.feed {
  a {
    text-decoration: none;
  }
}

.profile-svg {
  svg {
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    fill: rgba(13,110,253,1);
  }
  svg:hover {
    fill: rgba(13,110,253,0.8);
  }
}



// Social buttons ========================================================================

.btn-fb {
  background-color: #4468B0;
}

.btn-fb:hover {
  background-color: #5985db;  
}

.btn-tw {
  background-color: #2796DD;
}

.btn-tw:hover {
  background-color: #4eb4f4;
}

.btn-li {
  background-color: #1178B3;
} 

.btn-li:hover {
  background-color: #3b8ebf;
} 



// Breakpoint overrides ==================================================================

@media (max-width: 767px) {
  .profile {
    max-width: 20%;
  }
}

@media (min-width: 576px) {
  .navbar .container, .nav .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
}

@media (max-width: 991px) { 
}