---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');



// Resets ================================================================================

h1, h2, h3 {
  font-family: Poppins;
  font-weight: 600;
}

h1 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}



// Colors ================================================================================

$tpp-primary: rgba(31,71,167,1);
$tpp-secondary: rgba(192,192,192,1);


.text-tpp-primary {
  color: $tpp-primary;
}

.text-tpp-secondary {
  color: $tpp-secondary;
}

.bg-tpp-primary {
  background-color: $tpp-primary;
  color: #FFFFFF;
}

.bg-tpp-secondary {
  background-color: $tpp-secondary;
}

.bg-tpp-gradient {
  background-color: #00C9FF;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

.bg-tpp-gradient-text {
  color: #FC466B;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



// Images ================================================================================

img.logo {
  margin: 0px;
  height: 32px;
}