{% assign source = item.url | remove:'http://' | remove:'https://' | split:'/' | first %}

{% capture tags %}
  {% for tag in item.tags %}
    {{ tag }}
  {% endfor %}
{% endcapture %}

{% assign sorted_tags = tags | replace: ',', ' ' | split:' ' | sort_natural %}

<p><a href="{{item.url}}">{{ item.title }}</a><br />
<small class="text-tpp-secondary">{{ item.date | date: "%d %b %Y"}} | {{ source }}<br />

{% for tag in sorted_tags %}
  <a href="/collections/#{{ tag }}" class="badge bg-primary font-monospace text-uppercase">{{ tag }}</a> 
{% endfor %}
        
{% if item.unit %}
  {% assign this_unit = site.data.units | where: "unit",item.unit %}
  <a href="/{{ this_unit[0].slug }}/" class="badge bg-tpp-primary font-monospace text-uppercase">{{ item.unit }}</a>
{% endif %}

</small></p>