<div class="splash mb-5">

  <h1 class="display-2">Technology<br />and Public Policy</h1>
  
  <p class="lead">{{ site.description }}</p>
  
  <p class="lead">Subscribe to our <a href="https://progress.substack.com/">newsletter</a> to get new essays on tech policy delivered direct to your inbox.</p>
  
  <div class="col-lg-6 mt-4">
    <iframe src="https://progress.substack.com/embed" width="100%" height="320px" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  </div>
  
</div>


