---
layout: default
---

{% capture tags %}
  {% for item in site.data.links %}
    {{ item.tags }}
  {% endfor %}
{% endcapture %}

{% assign sorted_tags = tags | replace: ',', ' ' | split: ' ' | uniq | sort_natural %}

{% assign sorted_links = site.data.links | sort: 'date' | reverse %}

<div class="container">

  <div class="row mt-5">

    <div class="col">

      <h1 class="bg-tpp-gradient-text">{{ page.title }}</h1>
      
      {{ content }}
      
      <p>
      {% for tag in sorted_tags %}
        <a href="/collections/#{{ tag }}" class="badge bg-primary font-monospace text-uppercase">{{ tag }}</a> 
      {% endfor %}
      </p>

      {% for tag in sorted_tags %}
        
        <h2 id="{{ tag }}" class="pt-5">{{ tag | capitalize }}</h2>
        
        <div class="feed">
        
          {% for item in sorted_links %}
            
            {% assign split_tags = item.tags | replace: ',', ' ' | split:' ' %}
            
            {% if split_tags contains tag %}
            
                {% include card.html %}
                
            {% endif %}
            
          {% endfor %}
          
        </div>
          
      {% endfor %}

    </div>

  </div>

</div>


